footer {
  padding: 1% 0;
  background-image: linear-gradient(to right, #1c92d2, #f2fcfe);
  height: 100%;
 

}

.created-by {
  color: white;
  font-size: 20px;
  display: inline-block;
}

.foot {
  display: inline-block;
}

.icon {
  margin-bottom: 0px;
  height: 23px;
}

