#log-in-button {
    border-radius: 20px;
    background-color: white;
    font-size: 15px;
    font-family: Georgia;
    border: none;
    margin-right: 30px;
    color: #6C7A89;
    cursor: pointer;
}

#log-in-button > a {
    color: #6C7A89;
}

.login {
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
        .log-in {
            display: block;
        }
        .login {
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: 5px;
        }
        #log-in-button {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        

}

