.subTrack-heading {
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    color: white;
    font-size: 18px;
}

.tracker-heading {
    margin-top: 50px;
    color: white;
    font-size: 40px;
}

.add {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 20px;
    border: none;
}

.tracker-body {
    background: linear-gradient(#4568DC, #B06AB3);
}

section {
    background: transparent;
    border: none;
}