.boosters-nav {
  padding: 1% 0;
  background-color: transparent;
  height: 70px;
  box-shadow: none;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


.boosters-track {
    float: right;
    margin-right: 30px;
    width: 170px;
    font-size: 15px;
    background-color: white;
    color: #7e7e7e;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    
}

.boosters-track > a {
  text-decoration: none;
  color: #7e7e7e;
}

.about {
    float: left;
    margin-left: 30px !important;
    font-size: 15px;
    
    background-color: white;
    color: #7e7e7e;
    border: none;
    border-radius: 20px;
}

.about > a {
  text-decoration: none;
  color: #7e7e7e;
}