nav {
  padding: 1% 0;
  background-color: white;
  height: 70px;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/*.add {
    float: right;
}*/

.back {
    float: left;
    background-color: white;
    color: #7e7e7e;
    border: 1px solid #7e7e7e;
    border-radius: 20px;
}