.tracker-nav {
  padding: 1% 0;
  background-color: transparent;
  height: 70px;
  box-shadow: none;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}



.back {
    float: left;

    background-color: white;
    color: #7e7e7e;
    border: none;
    border-radius: 20px;
    margin-left: 30px;
}

