nav {
  padding: 1% 0;
  background-color: transparent;
  height: 70px;

}

nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}



.back {
    float: left;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #back {
      display: none;
    }

    .mood-track {
      margin-left: auto;
      margin-right: auto;
    }
  }


.back {
  background-color: white;
  margin-left: 20px;
  width: 160px;
  font-size: 15px;
  border: none;
  border-radius: 20px;
  
}

.back > a {
  color: #6C7A89;
}

.mood-track {
    float: right;
    margin-right: 30px;
    width: 170px;
    font-size: 15px;
    background-color: white;
    border: none;
    border-radius: 20px;
    margin-top: 0px;
    
}

.mood-track > a {
  color: #6C7A89;
}