.main-nav {
  padding: 1% 0;
  background-image: linear-gradient(to right, #1c92d2, #f2fcfe);
  height: 50px;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.track {
    float: right;
}

.about {
    float: left;
}

.log-in {
    float: right;
}

.app-title {
    float: left;
    font-size: 60px;
    margin-left: 40px;
    margin-top: 10px;
}