#record-mood {
    display: block;
    
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 4px;
    
    background-color: white;
    opacity: .4;
}

.form-section {
    display: block;
    padding: 15px;
    text-align: left;
}

label {
    text-align: left;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    color: black;
    font-size: 20px;
}

.description {
    
    width: 300px;
}

input {
    text-align: left;
    height: 35px;
    padding: 5px;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    color: #6C7A89;
}

.cause {
    width: 400px;
}

.duration {
    width: 300px;
}

.mood-submit {
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    margin-bottom: 20px;
    
    font-size: 15px;
   
}

.mood-submit > a {
    color: #6C7A89;
}



.record-body {
background-image: linear-gradient(to right, #c2e59c, #64b3f4);
}

.record-heading {
    margin-bottom: 20px;
    margin-top: 30px;
    color: white;
    font-size: 40px;
}

@media only screen 
   and (min-device-width: 375px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .record-heading {
          margin-top: 80px;
      }
      .cause {
          width:350px;
      }
  }

.record-section {
    margin-top: 0px;
    
}

.return {
  opacity: .4;
  cursor: pointer;
  background-color: white;
  margin-left: 30px;
  margin-top: 20px;
  width: 160px;
  font-size: 15px;
  float: left;
  border: none;
  border-radius: 20px;
  
}

.return > a {
    color: #6C7A89;
}

.date-month {
    width: 50px;
}

.date-day {
    width: 50px;
}

.date-year {
    width: 100px;
}

#input {
    text-align: left;
    background: transparent;
    border-bottom: 1px solid black;
    border-radius: 0px;
    color: black;
}

#input::placeholder {
    font-style: italic;
    color: black;
}