#record-mood {
    display: block;
    text-align: left;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
   margin-left: 500px;
    padding: 10px;
    /*text-align: left;*/
    /*padding-left: 40px;*/
    border-radius: 4px;
   
    background-color: transparent;
    /*box-shadow: 0 0 20px #D3D3D3;*/
}

.form-section {
    display: block;
}

label {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
}

.description {
    
    width: 300px;
}

input {
    height: 35px;
    padding: 5px;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    color: #6C7A89;
}

.cause {
    width: 400px;
}

.duration {
    width: 300px;
}

.mood-submit {
    margin-top: 20px;
    border-radius: 20px;
    background-color: white;
    border: none;
    color: black;
    margin-bottom: 10px;
    margin-left: auto !important;
    margin-right: auto!important;
    font-size: 15px;
    
}

.mood-submit > a {
    color: #6C7A89;
}



.record-body {
background-image: linear-gradient(to right, #c2e59c, #64b3f4);
}

.record-heading {
    margin-bottom: 20px;
    margin-top: 30px;
    color: white;
    font-size: 40px;
}

.record-section {
    margin-top: 0px;
    
}

.return {
  background-color: white;
  margin-left: 30px;
  margin-top: 20px;
  width: 160px;
  font-size: 15px;
  float: left;
  border: none;
  /*color: black;*/
  border-radius: 20px;
  
}

.return > a {
    color: #6C7A89;
}

.date-month {
    width: 50px;
}